@import "tailwindcss";

:root {
    background: #faf7f3;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: #faf7f3;
    --color-secondary: #f0e4d3;
    --color-tertiary: #dcc5b2;
    --color-quaternary: #d9a299;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
